
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/estilos/estilos.css" rel="stylesheet" />
</head>
<body>
    <form>
        <header>
            <h1><a href="/">LOS SIMPSON - GUIA DE EPISODIOS</a></h1>
            <h2>The Simpsons - Episode Guide</h2>
        </header>
        <main>

            <a href="~/Temporadas"> <img src="~/images/logo.jpg"/></a>



        </main>
        <footer>
            Por: Génaro
        </footer>
    </form>
</body>
</html>
